#ignoreall.afiles
.DS_Store
.vscode
*.vsix
composer.lock
# composer.json
nodemon.json
package-lock.json
server.js
node_modules
out

vendor/autoload.php
vendor/db
vendor/composer
vendor/webmozart
# vendor/!vs-php-common
